body, html{
    margin: 0px;
    padding: 0px;
    background-color: rgb(189, 181, 181);
    scroll-behavior: smooth;
}

#container{
    display: flex;
    width: 90%;
    background-color: rgb(84, 93, 125);
    text-align: center;
    flex-direction: column;
    margin: 0 auto;
    border: 5px black solid;
}



#section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.movie{
    width: 300px;
    height: 700px;
    background-color: rgb(0, 0, 0);
    margin: 5px;
    border: 2px solid white;
    padding: 30px;
}

.movie button{
    color: rgb(0, 213, 255);
    background-color: black;
    border: rgb(255, 255, 255) solid 2px;
}
#menu{
    border: 2px solid black;
    padding: 10px;
    margin-right: 15px;
    margin-left: 15px;   
    background-color: rgb(0, 0, 0);
}

#menu button{
    margin-right: 5px;
    margin-left: 5px;
    font-size: 30px;
    padding: 3px;
    background-color: black;
    border: orange solid 2px;
    border-radius: 4px;
    color: orange;
}
#menu button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(206, 8, 8);
    border-color:aqua;
}

#title{
    font-size: 70px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    color:rgb(255, 255, 255);
}

h1, h3{
    color: white;
}

hr{
    margin: 10px;
}

img{
    width: 300px;
    height: 400px;
}
iframe{
    width: 3§00px;
    height: 400px;
}
button:hover{
    cursor: pointer;
    color: white;
}
.btn
{
    display: block;
   margin-right: 50%;
   margin-left: 40%;
   padding: 5px;
   padding-right: 15px;
   padding-left: 15px;

}
.btn:hover
{
   color:rgb(0, 0, 0);
   background-color: white;
   border: 2px solid rgb(255, 0, 0);
   transform: scale(1.2);
   transition-delay: 1s;
   transition: all .5s;
   font-weight: bold;

}
a
{
   text-decoration: none;
}
#star{
    color:red;
    font-size: large;
}
#subtext{
    color:white;
}
.icon{
    width: 40px;
    height: 30px;
    padding: 10px;
    
}
.icon:hover{
    transform: scale(1.2);
   transition-delay: 1s;
   transition: all .5s;
}
#footer{
    display: block;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: rgb(0, 0, 0);
    height: 120px;
    width: 90%;
    margin: 0% auto;
    border: 5px solid rgb(255, 0, 0);
    text-align: center;
}
#homebtn{
    display: block;
    margin: 0 auto;
    padding: 6px;
    background-color: rgb(33, 162, 213);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}
#homebtn:hover{
    background-color: rgb(0, 56, 129);
    color: rgb(255, 0, 0);
    border: 2px solid rgb(255, 255, 255);
    transform: scale(1.1);
    transition-delay: 1s;
    transition: all .5s;
    font-weight: bolder;

}

