body{
background-color: aliceblue;
background-image: url(https://i.pinimg.com/originals/6a/cd/07/6acd0780a4c693b2cf8da52b5c44b18e.gif);
background-position: center;
background-size: cover;
}
#submit{
    font-size: 100px;
    color: rgb(255, 255, 255);
    margin: 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}